*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.container{
    width: 100%;
    height: 100vh;
}
.overview{
    min-height: 100vh;
    background-color: #F4AE45;
}
.overview-slider{
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide-track{
    display: flex;
    width: calc(250px * 10);
    animation: scroll 40s linear infinite;
}
.slide-track:hover{
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc (-250px * 5));
    }
}
.overview-slides{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

img {
    width: 100%;
    transition: 0.5s;
}

img:hover{
    transform: translateZ(20px);

}
/* gradient */
.overview-slider:before,
.overview-slider::after{
    background: linear-gradient(to right, rgba(244,174,69, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.overview-slider:before{
    left: 0;
    top: 0;
}
.overview-slider:after{
    right: 0;
    top: 0;
    transform: rotateZ('180deg');
}

